@font-face{
	font-family: "pol";
	src: url("fonts/Lato-Regular.ttf")
}

html {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "pol", "Calibri", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: grey;
    display: flex;              /*ligne au milieu de l'écran, 100vh*/
    justify-content: center;
    min-height: 100vh;        
    align-items: center;        /*faire une languette*/ 
    
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;       /*taille -*/
    min-height: 1000px;       /*taille |*/
    background: #fff;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    box-shadow: 0 0 82px rgba(0,0,0,1);
}

.container .left {
    position: relative;
    background: #2F616D;
    padding: 13%;
}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}


.profile .imgprof {
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 50%;   /*pas besoin de mettre plus haut c'est le mm*/
    overflow: hidden;     
}
.profile .imgprof img {
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    object-fit: cover;
}
.profile h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 7%;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.6rem;
}
.profile span {
    color: #fff;
    margin-top: 0;
    font-size: 0.8em;
    font-weight: 200;
}
/*cadre rond et ajustement photo nom*/

#nom {
    opacity: 0;
    transition: opacity 3s ease-in;
}
#etud {
    opacity: 0;
    transition: opacity 3s ease-in;
}

.ctct {
    padding-top: 1%;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 9%;
}
.ctct ul {
    position: relative;
    padding: 0;
}
.ctct ul li {
    position: relative;
    list-style: none;
    margin: 6% 0;
    cursor: default;
}
.ctct ul li .icon {
    display: inline-block;
    color: #aaaaaa;
    font-size: 2vh;
    width: 9.9%;
}
.ctct ul li .icon1 {
    display: inline-block;
    color: #aaaaaa;
    font-size: 1.9vh;
    width: 10%;
}
.ctct ul li span {
    color: #fff;
    font-weight: 200;
}
.ctct .text1{
    font-size: 1.34vh;
}
/*Section des contacts*/

.ecole ul {
    padding: 0;
}
.ecole li {
    margin-bottom: 15px;
    list-style: none;
}
.ecole h4:nth-child(2) {      /*les formations*/
    color: #fff;
    font-weight: 600;
    margin: 0;
}
.ecole h4 {                   /*les options*/
    color: #fff;
    font-weight: 200;
    margin: 7%;
}
.ecole h5 {
    color: #aaaaaa;
    font-weight: 600;
    padding-top: 3px;
    margin-bottom: 10%;
}
/*Section ecoles*/

.languages ul li {
    list-style: none;
    margin-bottom: 8%;
}
.languages ul {
    padding: 0;
}
.languages ul li span {
    color: #aaaaaa;
}


.languages .percent {
    position: relative;
    background: #000;
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 3.5%;
    box-sizing: border-box;
}
.languages .barreFr, .languages .barreEn {
    background: #fff;
    width: 0%;
    height: 3px;
}
.languages .barreFr.animated, .languages .barreEn.animated {
    transition: width 4s ease-in-out;
}
/*Anim profile et barres*/


.container .right {
    position: relative;
    background: #fff;
    padding: 0;
}

#topR {
    position: relative;
    background-color: #2F616D;
    height: 314px;
}
.info {
    position: absolute;
    top: 35%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    font-size: 2.5vh;
}
.info1 {
    position: absolute;
    top: 55%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 200;
    font-size: 25px;
}
/*case top right*/

.exp {
    margin-left: 1.5%;
    margin-bottom: 1.68vw;
}
.exp:last-child {
    margin-bottom: 0;
}
.infos {
    color: #2F616D;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 1.3vw;
}
p {
    color: #6f6d6d;
    font-weight: 600;
}
p1 {
    font-weight: 600;
}
p2 {
    font-weight: 200;
}
p3 {
    padding: 0.5vw;
}
/*section exp pro*/

.comp ul li {
    list-style: none;
    margin-bottom: 1.5vw;
}
.comp ul {
    padding: 0;
}

.comp .percent {
    position: relative;
    background: #000;
    display: block;
    width: 50%;
    height: 5px;
    margin-top: 0.7vw;
    box-sizing: border-box;
}
.comp .barreWin, .comp .barreSec, .comp .barreCis, .comp .barreRes, .comp .barrePro {
    background: #5f98a6;
    width: 0%;
    height: 5px;
}
.comp .barreWin.animated, .comp .barreSec.animated, .comp .barreCis.animated, .comp .barreRes.animated, .comp .barrePro.animated {
    transition: width 4s ease-in-out;
}
/*Anim des barres compétences*/

.center {
    list-style-type: none;
    margin-left: 0;
}
.center li {
    display: inline-block;
    margin-right: 4.3vw;
    font-size: 200;
}


@media screen and (max-width: 900px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1200px;
      margin: 5% auto;
    }
    .container .left {
      width: 100%;
      padding: 5%;
    }
  
    .container .right {
      width: 100%;
      padding: 0;
    }
    
    .ctct {
        padding-top: 2%;
    }
    .title {
        margin-bottom: 4%;
    }
    .ctct ul li {
        margin: 6% 0;
    }
    .ctct ul li .icon {
        font-size: 3vh;
    }
    .ctct ul li .icon1 {
        font-size: 2.5vh;
    }
    .ctct .text1{
        font-size: 2.1vh;
    }

    .ecole h3 {
        padding-top: 4%;
    }
    .ecole h5 {
        padding-top: 3%;
        margin-bottom: 7%;
    }

    .exp {
      margin-left: 1.5%;
      margin-bottom: 3%;
    }
    
    .languages h3 {
        padding-top: 4%;
        margin-bottom: 7%;
    }

    .comp ul li {
        padding-top: 3%;
        margin-bottom: 3%;
    }
    .comp .percent {
        margin-top: 3vw;
    }

    .info {
        font-size: 3.5vh;
    }

    .center li {
    padding-top: 1%;
    padding-bottom: 3%;
    margin-right: 7%;
    }
  }
  